---
layout: default
title: Meyer Truck & Alignment
nav-name: Services
---

<div class="page-content">
	<div class="default-header">
		<div class="default-header-grid container">
			<div class="default-header-content">
				<h1>SERVICES</h1>
				<div id="certs">
					<p>- IMACA Air-Conditioning Certified Technicians -</p>
					<p>- ASE Certified Technicians -</p>
				</div>
			</div>
		</div>
	</div>
	<div class="services-list">
		<div class="container">
			<p>We're proud to offer the following services:</p>
		<div class="services-list-grid">
			{% for serviceList in site.data.services %}
					<ul>
						{% for service in serviceList.list %}
							<li>{{ service.title }}</li>
							<li class="sub-bullet">{{ service.desc }}</li>
						{% endfor %}
					</ul>
			{% endfor %}
		</div>
		</div>
	</div>
	<div class="services-cards">
		<div class="container">
			<h2>What you'll get with <strong>our</strong> services:</h2>
			<div class="services-cards-grid">
				{% for card in site.data.services-cards %}
					<div class="card">
						<div class="card-header">
							<h4>{{ card.title }}</h4>
						</div>	
						<p>{{ card.desc }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="schedule-appointment">
		<div class="container">
			<img src="./assets/images/schedule-appointment.png" alt="Schedule Appointment">
		</div>
	</div>
</div>