---
title: Meyer Truck & Alignment
layout: default
nav-name: Services
---

<div class="page-content">
	<div class="default-header">
		<div class="default-header-grid container">
			<div class="default-header-content">
				<h1>SERVICES</h1>
				<div id="certs">
					<p>- IMACA Air-Conditioning Certified Technicians -</p>
					<p>- ASE Certified Technicians -</p>
				</div>
			</div>
		</div>
	</div>
	<div class="services-list">
		<div class="container">
			<p>We're proud to offer the following services:</p>
		<div class="services-list-grid">
			{% assign columns = 2 %}
			{% assign columnSize = site.services.size | divided_by: 2.0 | ceil %}
			{%for i in (1..columns)%}
				{% assign offset = forloop.index0 | times: columnSize %}
					<ul>
						{% for service in site.services limit: columnSize offset: offset%}
							<li>{{ service.title }}</li>
							<li class="sub-bullet">{{ service.content | markdownify | strip_html}}</li>
						{% endfor %}
					</ul>
			{% endfor %}
		</div>
		</div>
	</div>
	<div class="services-cards">
		<div class="container">
			<h2>What you'll get with <strong>our</strong> services:</h2>
			<div class="services-cards-grid">
				{% for card in site.services-cards%}
					<div class="card">
						<div class="card-header">
							<h4>{{ card.title }}</h4>
						</div>	
						<p>{{ card.content | markdownify | strip_html}}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="schedule-appointment">
		<div class="container">
			<img src="./assets/images/schedule-appointment.png" alt="Schedule Appointment">
		</div>
	</div>
</div>