// Navbar Styling
.navbar {
	width: 100%;
	height: 71px;
	position: fixed;
	z-index: 99;
	top: 0px;
	align-self: center;
}

.nav-contact {
	width: 100%;
	height: 20px;
	background-color: var(--accent-color);
	color: var(--secondary-color);
}

.nav-contact .container {
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: flex-end;
}

.nav-contact-item {
	padding-left: 8px;
}

.nav-contact-item i {
	font-size: 1rem;
}

.nav-contact-item p {
	font-weight: 100;
	font-size: 1.2rem;
	padding-left: 5px;
}

.navigation {
	width: 100%;
	height: 51px;
	background-color: var(--secondary-color);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

.navigation .container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.logo {
	display: flex;
	align-items: center;
}

.logo a {
	display: flex;
	align-items: center;
}

.logo img {
	width: 194px;
}

nav ul {
	display: flex;
	padding-left: 32px;
	height: 100%;
}

nav a {
	display: block;
	text-align: center;
	height: 100%;
	padding: 17px 26px;
	color: var(--text-color);
	font-size: 1.4rem;
}

nav a:hover {
	background-color: rgba(80, 43, 43, 0.06);
}

.nav-active {
	text-shadow: 0 0 .65px var(--text-color),  0 0 .65px var(--text-color);
	// font-weight: 600;
}