@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
	--primary-color: #D50D16;
	--secondary-color: #FFFFFF;
	--accent-color: #1E1E1E;
	--text-color: #000;
	--light-color: #f4f4f4;
}

// Base Styles

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
  flex-direction: column;
  min-height: 100vh;
	background-color: var(--secondary-color);
	font-family: 'Poppins', sans-serif;
	color: #333;

}

strong {
	font-style: italic;
}

img {
	width: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}

.page-content {
	position: relative;
	top: 71px;
}

// Default Page Header Styling

.default-header {
	height: 100%;
	max-height: 382px;
	background-color: rgba(213, 13, 22, .86);
}

.default-header-grid {
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(2, 1fr);
	height: 100%;
	padding: 0 100px;
}

.default-header-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
	align-content: center;
	color: var(--secondary-color);
}

.default-header-content h1 {
	font-size: 6.66rem;
	font-weight: 800;
	font-style: italic;
	text-align: center;
	margin: 89px 0 16px 0;
}

#certs {
	font-size: 2.13rem;
	font-weight: 400;
	text-align: center;
}

.default-header img {
	margin: 43px auto;
	box-shadow: 4px 7px 6px rgba(1, 0, 0, .16);
	max-width: 410px;
	border-radius: 16px;
}

// Navbar Styling
.navbar {
	width: 100%;
	height: 71px;
	position: fixed;
	z-index: 99;
	top: 0px;
	align-self: center;
}

.nav-contact {
	width: 100%;
	height: 20px;
	background-color: var(--accent-color);
	color: var(--secondary-color);
}

.nav-contact .container {
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: flex-end;
}

.nav-contact-item {
	padding-left: 8px;
}

.nav-contact-item i {
	font-size: 0.8rem;
}

.nav-contact-item p {
	font-weight: 100;
	font-size: 0.9rem;
	padding-left: 5px;
}

.navigation {
	width: 100%;
	height: 51px;
	background-color: var(--secondary-color);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

.navigation .container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.logo {
	display: flex;
	align-items: center;
}

.logo a {
	display: flex;
	align-items: center;
}

.logo img {
	width: 194px;
}

nav ul {
	display: flex;
	padding-left: 32px;
	height: 100%;
}

nav a {
	display: block;
	text-align: center;
	height: 100%;
	padding: 17px 26px;
	color: var(--text-color);
	font-size: 1.4rem;
}

nav a:hover {
	background-color: rgba(80, 43, 43, 0.06);
}

.nav-active {
	text-shadow: 0 0 .65px var(--text-color),  0 0 .65px var(--text-color);
	// font-weight: 600;
}



// ---------------------------------------------
// INDEX PAGE
// ---------------------------------------------
// Home Showcase Styling

.home-showcase {
	margin: 0 auto;
	height: 100%;
	max-height: 640px;
	background-image: url("../images/semi-stock.png");
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.home-showcase .overlay {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.overlay-content {
	width: 100%;
	color: var(--secondary-color);
	font-weight: 200;
	font-size: 2.7rem;
	padding: 0 13.3rem;
	margin: 21.3rem 0 0 0;
}

.overlay-content img {
	max-width: 426px;
	justify-self: center;
}

.overlay-content ul {
	justify-self: center;
}

.overlay-content li {
	margin: 0.66rem 0;
}

.overlay-buttons{
	display: grid;
	gap: 0 30px;
	justify-content: center;
	align-items: center;
	margin: 8rem 0 11.1rem 0;
}

#services-button {
	justify-self: right;
	width: fit-content;
	font-weight: 600;
	font-size: 1.6rem;
	color: var(--text-color);
	background-color: var(--secondary-color);
	padding: 1.2rem;
	border-radius: 40px;
}

#contact-us-button {
	width: fit-content;
	font-weight: 400;
	font-size: 1.4rem;
	text-decoration: underline;
}

// Home Service Styling

.home-service{
	margin: 0 auto;
	height: 100%;
	background-color: var(--secondary-color);
}

.home-service .header {
	display: flex;
	justify-content: center;
	padding: 2.66rem 0 1.33rem 0;
}

.home-service .header img{
	width: 100%;
	max-width: 476px;
}

.home-service .grid {
	padding: .66rem 105px;
}

.home-service .grid-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.6rem;
	color: var(--text-color);
}

.grid-content p {
	padding: .5rem 0;
}

.emphasized {
	font-size: 1.8rem;
	font-weight: 500;
	font-style: italic;
	text-align: center;
}

.grid-image {
	display: flex;
	justify-content: flex-end;
}

.grid-image img {
	width: 100%;
	max-width: 464px;
	border-radius: 16px;
	box-shadow: 4px 7px 6px rgba(0, 0, 0, .16);
}

.counties {
	padding: 1.33rem 0 1.33rem 0;
	color: var(--text-color);
	text-align: center;
}

.counties h3 {
	font-weight: 700;
	font-style: italic;
	font-size: 2.3rem;
}

.counties p {
	font-weight: 600;
	font-size: 2rem;
}

// Home Difference Styling

.home-difference {
	margin: 0 auto;
	height: 100%;
	background-color: var(--accent-color);
	color: var(--secondary-color);
}

.home-difference h2 {
	padding: 20px 0;
	font-weight: 700;
	font-size: 3.33rem;
	text-align: center;
}

.difference-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 27px;
	row-gap: 34px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2;
	padding: 0 97px 47px 97px;
}

.difference-grid p {
	margin: auto 0;
}

.difference-grid img {
	margin: auto;
	max-width: 398px;
	border-radius: 16px;
}

// History Styling

.home-history {
	margin: 0 auto;
	height: 100%;
	background-color: var(--secondary-color);
	color: var(--text-color);
}

.home-history h2 {
	padding: 20px 0;
	font-weight: 700;
	font-size: 3.33rem;
	text-align: center;
}

.history-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 67px;
	row-gap: 34px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2;
	padding: 0 97px 47px 97px;
}

.history-grid > *:nth-child(3) {
	grid-column: 1 / span 2;
}

.home-history img {
	margin: auto;
	max-width: 547;
	border-radius: 16px;
}

// ---------------------------------------------
// SERVICES PAGE
// ---------------------------------------------

.services-list {
	margin: 0 auto;
	height: 100%;
	background-color: var(--secondary-color);
	color: var(--text-color);
}

.services-list p {
	padding: 20px 0 0 204px;
	font-size: 2.13rem;
	font-weight: 600;
}

.services-list-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 27px;
	width: 100%;
	padding: 0 234px 20px 234px;
}

.services-list-grid ul {
	font-size: 2.13rem;
	font-weight: 400;
}

.services-list-grid li {
	margin: 7px 0;
	text-indent: -14px;
}

.services-list-grid li:before {
	content: "-";
}

.services-cards {
	margin: 0 auto;
	background-color: var(--accent-color);
	height: 100%;
}

.services-cards h2 {
	padding: 20px 0;
	font-size: 3.33rem;
	font-weight: 700;
	text-align: center;
	color: var(--secondary-color)
}

.services-cards-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
	height: 100%;
	padding: 24px 0px 50px 0px;
	justify-items: center;
}

.services-cards-grid > .card {
	width: 247px;
	height: 334px;
	text-align: center;
}

.card .card-header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 2.13rem;
	font-weight: 400;
	height: 57px;
	line-height: 1.2;
	border-bottom: 3px solid #707070;
}
.services-cards-grid h4{
	align-self: center;
	font-size: 2.13rem;
	font-weight: 400;
	line-height: 1.2;
}

.services-cards-grid p{
	padding-top: 14px;
	font-size: 1.4rem;
	font-weight: 300;
}

.schedule-appointment{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	height: 100%;
	background-color: var(--secondary-color);
}

.schedule-appointment img {
	max-width: 464px;
	padding: 34px 0;
}


// ---------------------------------------------
// CONTACT PAGE
// ---------------------------------------------

.contact-content {
	margin: 0 auto;
	background-color: var(--secondary-color);
	height: 100%;
}

.contact-heading{
	padding: 27px 184px;
	text-align: center;
	font-size: 2.13rem;
	font-weight: 500;
	color: var(--text-color)
}

.contact-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 67px;
	row-gap: 34px;
	padding: 14px 167px;
	text-align: center;
	align-items: center;
}

.contact-grid h5 {
	font-size: 2rem;
	font-weight: 500;
}

.contact-grid p {
	font-size: 2rem;
	font-weight: 400;
}

.contact-grid b {
	font-style: none;
	font-size: 2rem;
	font-weight: 500;
}

.contact-grid > *:nth-child(3) {
	grid-column: 1 / span 2;
}

// Footer Styling

.footer{
	position: relative;
	top: 71px;
	width: 100%;
	height: 178px;
	background-color: var(--accent-color);
	align-self: center;
	color: var(--secondary-color);
}

.footer-grid{
	margin: 0 auto;
	height: 100%;
	max-width: 1280px;
	display: grid;
	gap: 14px;
	grid-template-columns: repeat(3, 1fr);
}

.footer-logo {
	align-self: center;
	justify-self: center;
}

.footer-logo img {
	max-width: 261px;
}

.footer-copyright {
	
	justify-self: center;
	align-self: flex-end;
}

#copyright {
	font-weight: 400;
	font-size: 1.4rem;
	text-align: center;
}

#created-by {
	font-weight: 400;
	font-size: 1.06rem;
	text-align: center;
}

.footer-links {
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-self: center;
}

.footer-links ul {
	font-weight: 400;
	font-size: 1.4rem;
	margin: 0 10px;
}

#facebook-icon {
	font-size: 2.33rem;
	align-self: center;
	margin: 0 10px;
}