@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
	--primary-color: #D50D16;
	--secondary-color: #FFFFFF;
	--accent-color: #1E1E1E;
	--text-color: #000;
	--light-color: #f4f4f4;
}

// Base Styles

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
  flex-direction: column;
  min-height: 100vh;
	background-color: var(--light-color);
	font-family: 'Poppins', sans-serif;
	color: #333;
	line-height: 1.6em;
}

img {
	width: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}

.page-content {
	position: relative;
	top: 103px;
}

// Navbar Styling
.navbar {
	max-width: 1920px;
	width: 100%;
	height: 106px;
	position: fixed;

	z-index: 99;
	top: 0px;
	align-self: center;
}

.nav-contact {
	width: 100%;
	height: 30px;
	background-color: var(--accent-color);
	color: var(--secondary-color);

}

.nav-contact .container {
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: flex-end;
}

.nav-contact-item {
	padding-left: 11px;
}

.nav-contact-item i {
	font-size: 1.2rem;
}

.nav-contact-item p {
	font-weight: 100;
	font-size: 1.3rem;
	padding-left: 5px;
}

.navigation {
	width: 100%;
	height: 76px;
	background-color: var(--secondary-color);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

.navigation .container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.logo {
	display: flex;
	align-items: center;
}

.logo a {
	display: flex;
	align-items: center;
}

.logo img {
	width: 290px;
}

nav ul {
	display: flex;
	padding-left: 48px;
	height: 100%;
}

nav a {
	display: block;
	text-align: center;
	height: 100%;
	padding: 30px 38px;
	color: var(--text-color);
	font-size: 2rem;
}

nav a:hover {
	background-color: rgba(80, 43, 43, 0.06);
}

.nav-active {
	text-shadow: 0 0 .65px var(--text-color),  0 0 .65px var(--text-color);
	// font-weight: 600;
}

// Home Showcase Styling

.home-showcase {
	margin: 0 auto;
	max-width: 1920px;
	height: 100%;
	max-height: 960px;
	background: var(--primary-color);
	justify-content: center;
	overflow: hidden;
	background-color: pink;
}

img.home-showcase-background {
	object-fit: cover;
	object-position: bottom;
	opacity: 0.3;
}

.home-showcase .overlay {
	position: absolute;
	display: flex;
	width: 100%;
	max-width: 1920px;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);

}

.overlay-content {
	width: 100%;
	max-width: 1920px;
	color: var(--secondary-color);
	font-weight: 200;
	font-size: 4.1rem;
	padding: 0 20rem;
}

.overlay-content img {
	max-width: 638px;
	justify-self: center;
}

.overlay-content ul {
	justify-self: center;
}

// Home Service Styling

.home-service{
	margin: 0 auto;
	height: 100%;
	max-width: 1920px;
	max-height: 908px;
	background-color: var(--secondary-color);
}

.home-service .header {
	max-width: 713px;
	margin: 0 auto;
	padding: 4rem 0 2rem 0;

}

.home-service .grid {
	padding: 1rem 157px;
	
}

.home-service .grid-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1.75;
	font-size: 2.4rem;
	color: var(--text-color);
}

.grid-content p {
	padding: .75rem 0;
}

.emphasized {
	font-size: 2.7rem;
	font-weight: 500;
	font-style: italic;
	text-align: center;
}

.grid-image {
	display: flex;
	justify-content: flex-end;
}

.grid-image img {
	width: 100%;
	max-width: 696px;
	border-radius: 16px;
	box-shadow: 4px 7px 6px rgba(0, 0, 0, .16);
}

.counties {
	padding: 4rem 0 4rem 0;
	color: var(--text-color);
	text-align: center;
}

.counties h3 {
	font-weight: 700;
	font-style: italic;
	font-size: 3.5rem;
	padding-bottom: 3rem;
}

.counties p {
	font-weight: 600;
	font-size: 3rem;
}